@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ft_bg {
    height: 40vw;
    background-color: #c69963;
    background-image: linear-gradient(
        rgba(232, 82, 82, 0.3),
        rgba(245, 61, 70, 0.3)
      ),
      url(https://scontent.fabv3-1.fna.fbcdn.net/v/t39.30808-6/349044932_558434359810666_2416832609354309027_n.jpg?stp=dst-jpg_s851x315&_nc_cat=111&ccb=1-7&_nc_sid=3d9721&_nc_eui2=AeE1PEpKdqXBpSO3Pr_SoB5DXVPLJ0_8EG5dU8snT_wQblLPAJZn3IDa4LcJGhEc9S70QmhwrshkXIdNaO6XKsdI&_nc_ohc=Rxo9iCUHwpgAX9NaJVw&_nc_zt=23&_nc_ht=scontent.fabv3-1.fna&oh=00_AfDzu081e51MRm6XIe-mXJetkna7NhtS6ZVRgKordySsVQ&oe=65E33F9F);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    -webkit-box-shadow: 7px 11px 20px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 7px 11px 20px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 7px 11px 20px 0px rgba(0, 0, 0, 0.16);
  }
  .heading__line::after {
    content: "";
    display: block;
    border-top: 1px solid rgb(244 63 94);
    margin-top: 10px;
  }
  .line::after {
    width: 5vw;
    content: "";
    display: block;
    border-top: 0.3rem solid rgb(244 63 94);
    color: rgb(244 63 94);
    margin: 1rem auto 1.5rem;
  }
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }

    80% {
      transform: translateX(1rem);
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }

    80% {
      transform: translateX(-1rem);
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
